<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>

    <title>Projeto Enfrente</title>
</head>

<body>
    <header>
        <h2><a href="/" class="link-home">PROJETO ENFRENTE - ARRECADAÇÃO DE ALIMENTOS</a></h2>
    </header>

    <main>
        <section>
            <div>
                <p class="texto-mercado">Escolha abaixo o mercado onde você está
                    atuando e em seguida clique em
                    "Próximo" para prosseguir.</p>
            </div>
        </section>

        <form class="escolha-mercado" method="post" action="/doacao">

            <select class="campo-escolha" id="inputGroupSelect01">

                <option selected> Escolha seu Mercado de Atuação </option>
                <% for(i in Mercados){%>
                    <option value="<%=Mercados[i].COD_MERCADO%>">
                        <%=Mercados[i].NOME_MERCADO%>
                    </option>
                    <%}%>

            </select>

            <button type="submit" id="enviaMercado" class="btn-escolha">Próximo</button>

        </form>
    </main>

    <footer class="footer-home">
        <p>&copy; Copyright - Dev Team GuDaGa 2021</p>
    </footer>

</body>

</html>